@mixin clearfix() {
  zoom: 1;
  &:before, &:after {
    content: ' ';
    display: table;
  }
  &:after {
    //height: 0;
    //font-size: 0;
    clear: both;
    //visibility: hidden;
  }
}
//运用 @include clearfix;


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.clearfix{
  zoom:1;
}